<!DOCTYPE html>
<html>
<title>Log in</title>
<head>
<style>
body {
  background-image: url('image/tu-park1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover; 
}
.Header{
    background-color: #ffb366  ;
    height:120px;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;   
}
.logo-pos{
    position: absolute;
    left: 30px;
    top: 10px;
   
}
.logout-pos{
  padding-top: 40px;
  padding-left: 89%;
}
.logout{
  width:  100px;
  height: 45px;
  background-color: #429885;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.logout:active{
  background-color:  #287061;
  transform: translateY(3px);
}
.warning{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(240, 54, 113);
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: bolder;
}
.menubar{
  background-color:#63666A  ;
  width:8% ;
  height:100% ;
  left: 0px;
  top: 10px;
  padding-top: 120px;
  position: fixed;
}
.topic{
  background-color:rgb(215, 228, 233);
  width:  100px;
  height: 45px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  color: #535b53;
  cursor: pointer;
}

.topic:active{
  background-color:  #7d8dd8;
  transform: translateY(3px);
}
.wel{
  padding-top: 120px;
  padding-left: 10%;
}
.Form{
  font-size: 20px;
  padding-left: 5%;
  font-family:sans-serif;
  font-weight:600;
}
option{
  padding-left: 10%;
  width: 10%;
  height: 10%;
  background-color:rgb(215, 228, 233)  ;
}
button{
  background-color:#535b53;
  width:  80px;
  height: 45px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 20px;
  color:   rgb(215, 228, 233);
  cursor: pointer;
 
}
select{
  width:  60px;
  height: 30px;
}
.box1{
  height: 25px;
  width: 60% ;
}
.box2{ 
  height: 25px;
  width: 20% ;
}
.next:hover:active{
  opacity: 0.7;
  transform: translateY(5px);
}
.stuImg{
  padding-right: 10%;
  padding-top: 10%;
  width:12%;   
  height:30%;
  right: 0px;
  top: 0px;
  position: fixed;
}
</style>
</head>
<body >
   
 
  <div class="menubar">
    <center>
     <form action = '/lateRegis' method = 'GET' style="padding-top: 10px"> <button class = 'topic' type="submit">จดทะเบียนล่าช้า</button><br><br><br></form>
     <form action = ''style="padding-top: 10px" > <button class = 'topic'type="submit" >ถอนรายวิชา(W)</button><br><br><br></form>
     <form action = '' style="padding-top: 10px"> <button class = 'topic'type="submit" >ลาออก</button>  <br><br><br></form>
     <form action = '' style="padding-top: 10px">  <button class = 'topic' type="submit"  >อื่นๆ </button><br><br><br></form>
     <span>
      <a href= "https://login1-1.herokuapp.com/">
        <button class = 'logout' >Logout</button>
      </a>
    </span>
   </center>
  </div>
  
  <div class = "Header" >    
    <div class = "logo-pos" >
      <img src = 'image/tu-logo.PNG' width= "70%" height="70%" > 
    </div>  
   
  </div>

      
  <div class = 'wel'>
    <h2 > จดทะเบียนล่าช้า - กรอกข้อมูล</h2>
    <div class="container" >
      <div class = "section-content" >
        <div class= "col-md-2" >   
          <form class= 'Form' action = '/checkRegis' method = 'POST' >      
            <label for="ปี"> ชื่อ-สกุล :  <%=  nameTH %> </label> <br><br>
            <label for="ปี">รหัสนักศึกษา : <%=  username %> </label> <br><br>
            <label for="stuYear">ปี : </label> 
            <select  name="stuYear" id="stuYear"> 

              <option  value="1" required>1</option>
              <option  value="2"required>2</option>
              <option  value="3"required>3</option>
              <option  value="4"required>4</option>
              <option  value="5"required>5</option>
              <option  value="6"required>6</option> 
              <option  value="7"required>7</option>
             
            </select><br><br>
                  
            <label for="faculty">คณะ : <%=  faculty %></label> <br><br>
            <label for="department">สาขา :<%= department  %></label> <br><br>
            <label for="email">Email : <%=  email %> </label> <br><br>
            <label for="address">ที่อยู่</label> 
            <input class='box1'  type="text" placeholder="กรอกที่อยู่" name="address" required><br><br>

            <label for="stuTel">เบอเรา</label> 
            <input style = " height: 25px" type="text" placeholder="กรอกเบอร์โทรศัพท์" name="stuTel" required><br><br>

            <label for="parentTel">เบอพ่อง</label> 
            <input style = " height: 25px" type="text" placeholder="กรอกเบอร์โทรศัพท์ผปค" name="parentTel" required><br><br>

            <label for="teacher">อาจารย์ที่ปรึกษา</label> 
            <input class='box2'  type="text" placeholder="กรอกอาจารย์ที่ปรึกษา" name="teacher" required><br><br>

            <div style=" padding-left: 25%" >
              <div class="next" >
                <button type = 'submit' >ส่ง</button>
              </div>
            </div>    
          </from>
        </div>
        
          <img class= 'stuImg' src = 'https://web.reg.tu.ac.th/registrar/getstudentimage.asp?id=<%=username%>&amp;Status=10' >
        



      </div>               
    </div>
      
      
  </div>
  
  


</body>
</html>